.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
    margin: 0;
    padding: 0;
    min-width: 100vw;
    min-height: 100vh;
    width: 100%;
    height: 100%;  
}


#login {
    width: 60%;
    padding: 50px 30px;
    background-color: #3282b8;
    
    -webkit-box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.15);
    box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.15);
    
    border-radius:5px;

    
    box-sizing: border-box;
}

#login button {
    font-family: 'Overpass', sans-serif;
    font-size: 100%;
    color:#ffffff;
    width: 100%;
    height: 35px;
    border: none;    
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;  
    background-color: #59b4f1;    
    margin-top: 2%;
    margin-bottom: 5%;
}

#login button:hover {
    background-color: #0f4c75;
    color:#bbe1fa;
}

img[title="avatar"]{
	border-radius:60%;
	width:120px;
    margin-bottom: 5%;
}

